@import url('https://fonts.cdnfonts.com/css/nexa-rust-extras');
@import url('https://fonts.cdnfonts.com/css/overpass-mono');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass Mono', sans-serif;
}

.header{
    display: flex;
    background: rgb(19, 18, 18);
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.header__logo{
    display: flex;
    align-items: center;
 
}
.header__logo__img{
    height: 60px;
    width: 60px;
    margin-left: 30px;
}
.header__text{
    font-family: 'Nexa Rust Sans', sans-serif;
    color: rgb(247, 245, 243);
    margin-left: 10px;
    cursor: pointer;
}
 .header__info__user-image{
     filter: contrast(0%);
     height: 35px;
     width: 35px;
 }
 .header__info__user-image:hover{
    opacity: 0.5;
    cursor: pointer;
 }
 .header__info{
     display: flex;
     align-items: center;
 }
.header__info__basket-image{
    display: flex;
    margin: 0 30px;
    justify-content: end;
    height: 35px;
    width: 35px;
    background: url("https://res.cloudinary.com/dviuglhwb/image/upload/v1489676297/cart_t8m4la.svg") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    
}
.header__info__basket-image:hover{
    opacity: 0.5;
    cursor: pointer;
}

.item{
    background-color: rgb(11, 150, 11);
    border-radius: 50%;
    width: 17px;
    height: 17px;
    color: white;
    text-align: center;
    display:none
}
.main{
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: calc(100% - 200px);
    background: rgba(204, 190, 180, 0);
    margin: 0 auto;
   
}
/* Select sort items */

.sorter{
    float: right;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    border: 1px solid #d2d2d2;
    font-weight: 600;
    appearance: none;
    margin: 20px;
    margin-right: 100px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%233e77aa' viewBox='0 0 13 7' xmlns='https://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.5 7a.956.956 0 01-.657-.256l-5.57-5.25a.839.839 0 010-1.237.968.968 0 011.312 0L6.5 4.888 11.415.257a.968.968 0 011.313 0 .839.839 0 010 1.237l-5.572 5.25A.956.956 0 016.5 7z'/%3E%3C/svg%3E");
    background-size: 14px 9px;
    background-repeat: no-repeat, repeat;
    background-position: right 12px center;
    cursor: pointer;
    width: 200px;
    height: 32px;
    padding-left: 5px;
    margin-top: 80px;
}

.sorter:focus{
    outline: none; 
    border: 1px solid #838080;
   
}

/*Product card style / Start*/
.card{
    display: grid;
    width: 230px;
    background: rgb(250, 249, 249);
    padding: 15px;
    border-radius: 3px;
    border: 1px solid rgba(189, 186, 186, 0.671);
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px, rgba(0, 0, 0, 0.05) 0px 0.5px 1px;
    transition: all .3s ease-in-out;
}
.card:hover{
    
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px, rgba(0, 0, 0, 0.18) 0px 4px 11px;
}

.card__image img{
    width: 200px;
    margin-bottom: 30px;
    height: 250px;
    object-fit:contain
}
.card__title{
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px; 
}
.card__category{
    
    font-size: 12px;
    font-weight: 500;
}
/*Rating Stars*/

.stars-container {
    position: relative;
    display: inline-block;
    color: transparent;
    font-size: 25px;
    --percent:calc(var(--rating)*20%)
  }
   
  .stars-container:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: lightgray;
    
  }
  
  .stars-container:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: gold;
    overflow: hidden;
    width: var(--percent);
  }
 /*END rating stars*/
 .card__bay{
     display: flex;
     justify-content: space-between;
     align-items: center;
     
    }

  .card__bay__price{
      color: green;
      font-size: 15px;
      font-weight: 700;
      width: 60px;
  }
 
  .card__bay__btncart{
    background: none;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-image: url('./images/cart2.svg') ;
  }
  .card__bay__btncart:hover{
      background-color: rgb(201, 196, 196);
  }
  .card__edit{
    background: none;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-image: url('./images/edit.svg') ;

  }
  .card__edit:hover{
    background-color: rgb(201, 196, 196);
  }
  /*end of card*/



  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }  

  .overlay-edit{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  .edit__wrapper{
      color: rgb(255, 255, 255);
      height: 400px;
      width: 200px;
     background-color: rgba(66, 64, 66, 0.87);
     border-radius: 5px;
     cursor:default;
     display: flex;
     flex-direction: column;
     align-items: center;
     
  }
  .textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
 outline: 0;
 border: 1px solid rgba(255, 255, 255, 0.4);
 background-color: rgba(255, 255, 255, 0.397);
 width: 200px;
 border-radius: 3px;
 padding: 10px 15px;
 margin: 0 auto 10px auto;
 display: block;
 text-align: center;
 font-size: 18px;
 color: white;
 transition-duration: 0.25s;
 font-weight: 300;
  }
  #category{
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.363);
    width: 200px;
    border-radius: 3px;
    margin: 20px 0;
  }
  #category option{
      background-color:gray;
  }
  .edit__btn{
  -webkit-appearance: none; 
-moz-appearance: none;
/* appearance: none; */
 outline: 0;
 background-color: white;
 border: 0;
 padding: 5px 15px;
 color: #53e3a6;
 border-radius: 3px;
 margin-top: 30px;
 cursor: pointer;
 font-size: 18px;
 transition-duration: 0.15s;
 width: 100%;
  }
  .edit__btn:active{
      width: 70%;
  }